

DECLARE @group INT;

INSERT [CorpProp.Settings].[NotificationGroup] ([Name], [Hidden], [SortOrder]) VALUES ( N'Контроли по данным БУ', 0, 0)


SELECT TOP 1 @group = [ID] 
FROM [CorpProp.Settings].[NotificationGroup] 
WHERE [Name] = N'Контроли по данным БУ'








