
@{
    var button_id = Html.CreateSystemName("button");

}


<button id="@button_id">Привет</button>

<script>
    $(function() {

        var button = $("#@button_id");


        


    });
</script>
