<section id="lists" class="k-pane">
    <h2>Списки</h2>

    <label for="list1" class="collapsed" data-toggle="collapse" data-target="#list1_code">Обычный</label>
    <div id="list1">
        <ul class="kwidget kwidget--list">
            <li>item 1</li>
            <li>item 2</li>
            <li class="active">item 3</li>
            <li>item 4</li>
        </ul>
    </div>

    <pre class="collapse" id="list1_code"><code class="html">
        &lt;ul class="kwidget kwidget--list">
            &lt;li>item 1&lt;/li>
            &lt;li>item 2&lt;/li>
            &lt;li class="active">item 3&lt;/li>
            &lt;li>item 4&lt;/li>
        &lt;/ul>
    </code></pre>

    <label for="list2" class="collapsed" data-toggle="collapse" data-target="#list2_code">Комплексный контент</label>
    <div id="list2">
        <ul class="kwidget kwidget--list">
            <li>
                <h3>List group title</h3>
                <p>
                    Donec id elit non mi porta gravida at eget metus.
                    Maecenas sed diam eget risus varius blandit.
                </p>
            </li>
            <li>
                <h3>List group title</h3>
                <p>
                    Donec id elit non mi porta gravida at eget metus.
                    Maecenas sed diam eget risus varius blandit.
                </p>
            </li>
        </ul>
    </div>

    <pre class="collapse" id="list2_code"><code class="html">
        &lt;ul class="kwidget kwidget--list">
            &lt;li>
                &lt;h3>List group title&lt;/h3>
                &lt;p>...&lt;/p>
            &lt;/li>
        &lt;/ul>
    </code></pre>

    <label for="list3" class="collapsed" data-toggle="collapse" data-target="#list3_code">
        Список определений
    </label>
    <div id="list3">
        <dl>
            <dt>Какое-то название</dt>
            <dd>
                Такой список хорошо подойдет, если у термина есть длинное описаниеТакие списки вряд ли подойдут для коротких терминов и их описаний, например, «<strong>Высота</strong> 5м», для таких списков лучше использовать горизонтальные списки определений, описанные ниже.
            </dd>
            <dt>Ещё один пример термина</dt>
            <dd>
                И его длинное бессмысленное описание, случайно сгенерированный текст: Вронского на кити щербацкой, который был товарищем, и раболепность во многих. Которого вронский был маслов катька, – простые, ровные ко всем отношения. Ожидал такого содержания: неведовский выбран двенадцатью шарами прекрасным обедом было. Неудачу весело провел время обеда, обращаясь к неведовскому: лучше нельзя было очень. Только равнодушен, но и торжествовало. Процветающий банк в голове стола, по имени мужа избрать другую.
            </dd>
        </dl>
    </div>

    <pre class="collapse" id="list3_code"><code class="html">
        &lt;dl>
            &lt;dt>Термин&lt;/dt>
            &lt;dd>Описание&lt;/dd>
            &lt;dt>Термин&lt;/dt>
            &lt;dd>Описание&lt;/dd>
        &lt;/dl>
    </code></pre>

    <label for="list4" class="collapsed" data-toggle="collapse" data-target="#list4_code">
        Горизонтальный список определений
    </label>
    <div id="list4">
        <dl class="dl-horizontal">
            <dt>Какой-то термин</dt>
            <dd>Текст описывающий этот термин</dd>
            <dt>Ещё один термин</dt>
            <dd>Его описание или недлинное значение</dd>
        </dl>
    </div>

    <pre class="collapse" id="list4_code"><code class="html">
        &lt;dl class="dl-horizontal">
            &lt;dt>Термин&lt;/dt>
            &lt;dd>Описание&lt;/dd>
            &lt;dt>Термин&lt;/dt>
            &lt;dd>Описание&lt;/dd>
        &lt;/dl>
    </code></pre>
</section>
