.f-wrap { overflow: auto; display: block; height: 100%; }

    .f-wrap .vertical-align { display: inline-block; vertical-align: middle; float: none; }

.f-head-control { vertical-align: middle; }

.f-row, .f-post { border-bottom: 1px solid #d0d0d0; padding: 1rem; color: #02466f; }

    .f-row, .f-post .f-post-user-name { color: #3276b1; }

.f-row { cursor: pointer; }

    .f-row:hover { background-color: #f0f4f6; transition: background-color 250ms linear; }

    .f-row:active { background-color: #dde9ef; transition: background-color 250ms linear; }

.badge.premod-count {
    margin-right: .7143rem;
    padding: .357rem;
    min-width: 2.143rem;
    background-color: #ccc;
}

.badge.premod-count.has-premod { background-color: #e5a700; }

.f-premoderate.f-row:hover { background-color: #fcf0d0; transition: background-color 250ms linear; }

.f-premoderate.f-post, .f-row.f-premoderate { background: #fcfcda; }

.f-title h3, .f-title h4 { margin: 0; color: #0487c4; }

.up-level-link { position: relative; top: -.7143rem; padding-bottom: -1.4286rem; }

.f-post {
    position: relative;
    padding: .7143rem 1.0714rem 1.714rem 1.0714rem;
}

.f-post-control {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: .4286rem;
    margin-right: 1.0714rem;
}

    .f-post-control > div, .f-topic-control > div { padding-left: 1.0714rem; }

.f-post-control-publish, .f-topic-control-publish { display: none; }

.f-premoderate .f-post-control-publish, .f-premoderate .f-topic-control-publish { display: inline; }

.f-post-message-created { margin-bottom: .357rem; color: #b0c0ca; }

.f-post-message-info { display: none; }

.f-premoderate .f-post-message-info {
    padding-right: 0;
    font-style: italic;
    color: #c63a3a;
    display: block;
}

.f-post-user-image { margin-top: .2143rem; }

.f-wrap .pagination {
    text-align: center;
    margin: .7143rem 0 .2143rem 0;
}

.f-wrap .modal-dialog input[type="text"] {
    margin-bottom: .7143rem;
}

.f-wrap .f-quot {
    border: solid 1px #abbaca;
    border-left-width: 3px;
    border-radius: 5px;
    padding: .2143rem .2143rem .2143rem .5714rem;
    background: #f0f3f5;
    color: #197190;
    margin-bottom: .2143rem;
}

    .f-wrap .f-quot .f-quot-who { font-size: small; padding-bottom: .357rem; }

        .f-wrap .f-quot .f-quot-who .f-quot-username { font-weight: bold; }

    .f-wrap .f-quot .f-quot-message { display: block; }

/* topic modal*/

.modal-dialog-newtopic { margin-top: 10%; max-width: 57.143rem; width: initial; }

    .modal-dialog-newtopic .modal-body { color: #3276b1; height: 37.857rem; }

    .modal-dialog-newtopic .modal-footer button { width: 8.5715rem; }


/* text editor */

.f-wrap .text-editor { display: block; }

.f-wrap .f-posts-wrap .text-editor { margin: 1.0714rem 0; }

.f-wrap .editor-content {
    height: 21.429rem;
    display: block;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: .2858rem;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, .0745098) 0 1px 1px 0 inset;
    box-shadow: rgba(0, 0, 0, .0745098) 0 1px 1px 0 inset;
    border-radius: 3px;
    overflow: auto;
    outline: none;
}

.f-wrap div[data-role="editor-toolbar"] { user-select: none; margin-bottom: .143rem; }

.f-wrap .dropdown-menu a { cursor: pointer; }

.f-wrap .link-dropdown-menu {
    width: 22.857rem;
    margin-top: .143rem;
    padding: .286rem;
    border-radius: 0 0 4px 4px;
    left: -13.572;
}

.f-wrap .btn-send { width: 7.143rem; }

@media only screen and (max-width: 790px) {
    .f-wrap .btn-unrequired { display: none; }
}

@media only screen and (min-width: 1200px) {
    .f-post-user-image { min-width: 6.857rem; min-height: 6.857rem; }
}

@media only screen and (max-width: 1200px) {
    .f-post-user-image { min-width: 4.5715rem; min-height: 4.5715rem; }
}
