@model EditorViewModel

@{
    string accountID = Html.CreateSystemName("account");

}

<div id="@Model.UID">
    <a id="@accountID" href="#" class="k-button"><i class="fa fa-key"></i>&nbsp;Аутентификация</a>
</div>

<script>
    $(function() {
        var $editor = $("#@Model.UID");
        $editor.find("#@accountID").click(function() {
            var form = $editor.closest("form").data("pbaForm");
            var id = form.getPr("ID");
            var returnUrl = window.location.pathname;
                
            //TODO
            window.location = "/Account/Admin/" + id + "?ReturnUrl=" + returnUrl;
        });
    });
</script>
