@model EditorViewModel

<div id="@Model.UID" class="query-builder">
    <div class="query-builder-textfield" id="query_text_field_id"></div>
    <a id="open_btn_id" class='k-button' title="Редактировать">...</a>
</div>