<section id="panels" class="k-pane">
    <h2>Панели</h2>

    <label for="panel1" class="collapsed" data-toggle="collapse" data-target="#panel1_code">Обычная панель</label>
    <div id="panel1">
        <div class="kwidget kwidget--panel">
            <div class="kwidget kwidget--panel-content">
                <img src="~/Content/Images/pba.png" alt="" />
            </div>
        </div>
    </div>

    <pre class="collapse" id="panel1_code"><code class="html">
        &lt;div class="kwidget kwidget--panel">
            &lt;div class="kwidget kwidget--panel-content">
                &lt;!-- PANEL CONTENT -->
            &lt;/div>
        &lt;/div>
    </code></pre>

    <label for="panel2" class="collapsed" data-toggle="collapse" data-target="#panel2_code">Панель без паддинга</label>
    <div id="panel2">
        <div class="kwidget kwidget--panel">
            <img src="~/Content/Images/pba.png" alt="" />
        </div>
    </div>

    <pre class="collapse" id="panel2_code"><code class="html">
        &lt;div class="kwidget kwidget--panel">
            &lt;!-- PANEL CONTENT -->
        &lt;/div>
    </code></pre>
    
    <label for="panel3" class="collapsed" data-toggle="collapse" data-target="#panel3_code">Инлайн-панель</label>
    <div id="panel3">
        <div class="kwidget kwidget--inline-panel">
            <div class="kwidget kwidget--panel-content">
                <img src="~/Content/Images/pba.png" alt="" />
            </div>
        </div>
    </div>

    <pre class="collapse" id="panel3_code"><code class="html">
        &lt;div class="kwidget kwidget--inline-panel">
            &lt;div class="kwidget kwidget--panel-content">
                &lt;!-- PANEL CONTENT -->
            &lt;/div>
        &lt;/div>
    </code></pre>
</section>
