<div class="dialog" ng-controller="ErrorController" data-page="error" ng-show="mainCtrl.page === 'error'">
    <div class="chat__messages">
        <ul class="chat__message-lis">
            <li class="chat__message chat__message--system">
                <div class="chat__message-text">Произошла ошибка! Попробуйте перезагрузить страницу.</div>
            </li>
        </ul>
    </div>
</div>
