<div id="query_builder_window_id" class="query-builder-window">   
    <div class="dialog">
        <div class="dialog__toolbar">
            <div class="kwidget kwidget--toolbar">
                <a id="accept_btn_id" class="k-button success">Применить</a>
            </div>
        </div>
    </div>
    <form>
        <div id="qbuilder_id"></div>        
    </form>         
    
</div>