@model WebUI.Controllers.TestMarkerMapObjectVm

<div class="info-wrapper">
    <div class="info-block">
        <div class="info-title">Наименование объекта</div>
        <div class="info-double-value">@Model.Title</div>
    </div>
    <div class="info-block">
        <div class="info-title">Дата</div>
        <div class="info-double-value">@Model.DateTest</div>
    </div>
    <div class="info-block">
        <div class="info-title">Дробное число</div>
        <div class="info-double-value">@Model.TestDouble</div>
    </div>
</div>