@model StandartDialogViewModel

@{
    if (Model.ViewModelConfig.ListView.Title != null)
    {
        ViewBag.Title = Model.ViewModelConfig.ListView.Title;
    }
    else
    {
        ViewBag.Title = Model.ViewModelConfig.Title;
    }
}

<h1 id="page-title">@ViewBag.Title</h1>

@{Html.RenderPartial("/Views/Standart/_Dialog.cshtml", Model);}

<script>
    $("#NavBarPageTitle").html("@ViewBag.Title");
</script>