<section id="forms" class="k-pane">
    <h2>Формы</h2>

    <label for="forms1" class="collapsed" data-toggle="collapse" data-target="#forms1_code">Обычный инпут</label>
    <div id="forms1">
        <input class="k-textbox" type="text" placeholder="Введите значение..." style="width: 100%;" />
    </div>

    <pre class="collapse" id="forms1_code"><code class="html">
        &lt;input class="k-textbox" type="text" placeholder="Введите значение..." style="width: 100%;" />
    </code></pre>

    <label for="forms2" class="collapsed" data-toggle="collapse" data-target="#forms2_code">С кнопками</label>
    <div id="forms2">
        <div class="input-group">
            <span class="input-group-btn">
                <a href="#" title="Действие 1"><i class="fa fa-bolt"></i></a>
            </span>

            <div class="form-control">
                <input class="k-textbox" type="text" placeholder="Введите значение..." />
            </div>

            <span class="input-group-btn">
                <a href="#" title="Действие 2"><i class="mdi mdi-regex"></i></a>
                <a href="#" title="Действие 3"><i class="fa fa-share"></i></a>
            </span>
        </div>
    </div>

    <pre class="collapse" id="forms2_code"><code class="html">
        &lt;div class="input-group">
            &lt;span class="input-group-btn">
                &lt;a href="#" title="Действие 1">&lt;i class="fa fa-bolt">&lt;/i>&lt;/a>
            &lt;/span>

            &lt;div class="form-control">
                &lt;input class="k-textbox" type="text" placeholder="Введите значение..." />
            &lt;/div>

            &lt;span class="input-group-btn">
                &lt;a href="#" title="Действие 2">&lt;i class="mdi mdi-regex">&lt;/i>&lt;/a>
                &lt;a href="#" title="Действие 3">&lt;i class="fa fa-share">&lt;/i>&lt;/a>
            &lt;/span>
        &lt;/div>
    </code></pre>
</section>
