@model PropertyViewModel

<label data-role="baseobjectoneview"
       data-lookuptext="@(Model.ViewModelConfig.LookupProperty.Text)"
       data-lookupimage="@(Model.ViewModelConfig.LookupProperty.Image)"
       data-bind="value: @(Model.PropertyName)"></label>

