@{
    var wrapID = Html.CreateSystemName("wrap");
}

@(Html.ContentEditorWidget("internal_image")
    .Title("Изображение")
    .TitleTemplate(
    @<text>
        <span><i class="fa fa-fw fa-image"></i> Изображение</span>
    </text>)
    .Wrap(wrapID)
    .Mnemonic("Content_Image_Internal")
    .Template("tpl_" + wrapID))

<script id="tpl_@wrapID" type="text/template">
    <p data-bind="html: model.Title"></p>
    <img class="center-block" data-bind="content_img: {
                                                    width: model.Width,
                                                    height: model.Height,
                                                    url:null,
                                                    file: model.File,
                                                    original: model.Original
                                                }" />
    <p data-bind="html: model.ImageSignature"></p>
</script>

