.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: .65 !important;
}
.k-widget .k-pane,
.k-widget .k-pane * {
  box-sizing: border-box;
}
.k-header {
  font-weight: 400;
  color: rgba(38, 43, 51, 0.85);
  background-color: transparent;
}
.k-pane {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(38, 43, 51, 0.12), 0 0 18px rgba(38, 43, 51, 0.072);
}
.k-autocomplete.k-state-hover,
.k-dropdown-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-overflow-anchor:hover,
.k-picker-wrap.k-state-hover,
.k-textbox:hover,
.k-textbox {
  border-color: #cccccc;
}
.k-button,
.k-calendar .k-footer,
.k-calendar .k-header .k-link {
  letter-spacing: .025em;
}
.k-textbox::-webkit-input-placeholder,
.k-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #a8a8a8;
}
.k-textbox:-moz-placeholder,
.k-input:-moz-placeholder {
  font-weight: 400;
  color: #a8a8a8;
}
.k-textbox::-moz-placeholder,
.k-input::-moz-placeholder {
  font-weight: 400;
  color: #a8a8a8;
}
.k-textbox:-ms-input-placeholder,
.k-input:-ms-input-placeholder {
  font-weight: 400;
  color: #a8a8a8;
}
.k-textbox:placeholder,
.k-input:placeholder {
  font-weight: 400;
  color: #a8a8a8;
}
.k-input,
.k-multiselect-wrap,
.k-textbox > input,
input.k-textbox,
input.k-textbox:hover,
textarea.k-textbox,
textarea.k-textbox:hover {
  font-weight: 400;
}
.k-widget.k-tooltip-validation {
  font-size: .714rem;
  font-weight: 300;
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0 .3571rem;
  text-transform: lowercase;
  color: #fff;
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #d32f2f;
}
.k-widget.k-tooltip-validation > .k-icon {
  display: none;
}
.k-autocomplete,
.k-dropdown-wrap,
.k-numeric-wrap,
.k-overflow-anchor,
.k-picker-wrap,
.k-textbox {
  transition: box-shadow 0.12s linear;
}
.k-checkbox:checked + .k-checkbox-label:before {
  border-color: #00bafb;
  background-color: #00bafb;
}
.k-checkbox:checked + .k-checkbox-label:active:after {
  box-shadow: 0 0 0 12px rgba(0, 186, 251, 0.15);
}
.k-dropdown-wrap .k-input,
.k-dropdown-wrap.k-state-default,
.k-dropdown-wrap.k-state-focused .k-input,
.k-dropdown-wrap.k-state-active,
.k-numeric-wrap.k-state-default,
.k-numeric-wrap.k-state-active,
.k-numeric-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-default,
.k-picker-wrap.k-state-active,
.k-picker-wrap.k-state-focused .k-input {
  border-color: #dbdbdb;
}
.k-autocomplete.k-state-default,
.k-autocomplete.k-header,
.k-autocomplete .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-multiselect.k-header,
.k-textbox > input,
.input-group .k-textbox {
  border: none;
}
.input-group .k-textbox {
  width: 100%;
}
.input-group .k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-overflow-anchor:hover {
  box-shadow: none;
}
.k-autocomplete.k-state-border-up,
.k-calendar-container.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-filter-menu,
.k-list-container.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-window-content {
  border-radius: 0;
}
.k-popup-edit-form {
  margin-top: -0.143rem;
  background-color: #fff;
}
.k-popup-edit-form .k-edit-buttons {
  border: none;
}
.k-popup-edit-form .k-edit-buttons .k-button.btn-no {
  border-color: #cd6d6d !important;
  background-color: #cd6d6d !important;
}
.k-popup-edit-form .k-edit-buttons .k-button.btn-no:hover,
.k-popup-edit-form .k-edit-buttons .k-button.btn-no:focus {
  background-color: #d68888 !important;
}
.k-popup-edit-form .k-edit-buttons .k-button.btn-no:active {
  background-color: #c45252 !important;
}
.k-popup-edit-form .k-edit-buttons .k-button {
  margin-left: 0.809em;
}
.k-popup .k-list .k-item {
  line-height: 2.427rem;
  cursor: pointer;
}
.k-popup-message {
  font-size: 1.25rem;
  padding: 0.61804697rem 0 2.617924rem;
}
.k-popup.k-list-container {
  padding: 0;
  border-color: transparent #000000 #cccccc;
}
.k-popup .data-item {
  display: flex;
  align-items: center;
  padding: 0.30902349rem;
}
.k-popup .data-item__img {
  height: 1.618rem;
  margin-right: 0.4045rem;
}
.k-list-optionlabel {
  line-height: 2.427rem;
  padding-left: 0.809rem !important;
  cursor: pointer;
}
textarea.k-textbox {
  padding: 0.809em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.2) {
  .k-callout,
  .k-column-menu .k-sprite,
  .k-drop-hint,
  .k-grouping-dropclue,
  .k-icon:not(.k-i-loading),
  .k-icon:not(.k-loading),
  .k-mobile-list .k-check:checked,
  .k-mobile-list .k-edit-field [type=checkbox]:checked,
  .k-mobile-list .k-edit-field [type=radio]:checked,
  .k-state-active .k-tool-icon,
  .k-state-active.k-state-hover .k-tool-icon,
  .k-state-hover .k-tool-icon,
  .k-state-selected .k-tool-icon,
  .k-state-selected.k-state-hover .k-tool-icon,
  .k-tool-icon {
    -webkit-background-size: 24rem 24rem;
    background-size: 24rem 24rem;
  }
}
input.k-textbox {
  height: 2.617924rem;
}
.k-toolbar * > .k-icon,
.k-popup * > .k-icon,
.k-toolbar * > .k-sprite,
.k-popup * > .k-sprite,
.k-toolbar * > .k-tool-icon,
.k-popup * > .k-tool-icon {
  width: 1.15rem;
  height: 1.15rem;
}
.k-split-button-arrow > .k-icon {
  width: 1.143rem;
  height: 1.143rem;
}
.k-button-icontext > .k-icon {
  margin-right: 0.61804697rem !important;
}
.k-context-menu .k-item .k-link .k-sprite {
  top: 0 !important;
  margin-right: 0.61804697em;
}
.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group > .k-item > .k-link {
  padding: 0.61804697em 3.236em 0.61804697em 1.618em;
}
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused,
.k-grid tr.k-state-selected,
.k-listview > .k-state-selected,
.k-marquee-color,
.k-scheduler .k-today.k-state-selected,
.k-scheduler-layout .k-state-selected,
.k-state-selected.k-line,
.k-widget .k-status {
  background-color: #e1f7ff;
}
.k-widget.k-popup {
  background-color: #e1f7ff;
}
.k-treelist .k-alt.k-state-selected,
.k-treelist .k-alt.k-state-selected > td,
.k-treelist .k-state-selected,
.k-treelist .k-state-selected td {
  border-color: #62d6ff;
  background-color: #e1f7ff;
}
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected,
.k-listview > .k-state-selected,
.k-state-selected .k-progress-status {
  color: #262b33;
}
.k-pager-numbers .k-state-selected {
  color: #00a7e1;
  border-color: #00a7e1 transparent transparent;
}
.k-draghandle.k-state-selected:hover,
.k-ghost-splitbar-horizontal,
.k-ghost-splitbar-vertical,
.k-list > .k-state-highlight,
.k-list > .k-state-selected,
.k-marquee-color,
.k-panel > .k-state-selected,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited {
  color: #0081ae;
}
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-numeric-wrap .k-input,
.k-picker-wrap .k-input,
.k-selectbox .k-input,
.k-textbox > input {
  line-height: 2.427rem;
  height: 2.5888rem;
}
.k-overflow-container .k-button:focus,
.k-split-wrapper .k-button:focus,
.k-overflow-container .k-button:focus:not(.k-state-disabled):not([disabled]),
.k-split-wrapper .k-button:focus:not(.k-state-disabled):not([disabled]) {
  color: #0081ae;
}
.k-overflow-button.hotkeys {
  display: none;
}
.k-overflow-button .btntoolbar {
  width: 1.25rem;
  margin-right: 0.4045rem;
  text-align: center;
}
.k-overflow-button[data-action='exportExcel']:first-of-type {
  display: none;
}
.k-overflow-container .k-separator + .k-separator {
  display: none;
}
.k-header.k-drag-clue {
  cursor: -webkit-grabbing;
}
.k-animation-container .k-widget {
  transition: all 0.15s cubic-bezier(0.6, 0, 0.4, 1);
}
.k-splitter {
  width: 100%;
  height: 100%;
  border: none;
}
.k-splitter .k-pane.k-scrollable {
  overflow: hidden;
}
.k-splitter > .k-pane,
.k-splitter .k-splitbar-horizontal {
  height: 100% !important;
}
.k-splitter .k-splitbar {
  border-color: transparent;
  background-color: transparent;
}
.k-splitter .k-splitbar-horizontal {
  width: 1rem;
}
.k-splitter .k-splitbar-horizontal .k-icon {
  margin-left: calc(1rem / 2 - .179rem);
}
.k-checkbox-label {
  padding-left: 2em;
}
.k-checkbox-label:before {
  font-family: FontAwesome;
  font-size: 1.25em;
  position: absolute;
  top: 1px;
  left: 0;
  content: '\f096';
  transition: color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  color: #262b33;
  border: none;
  background-color: transparent;
}
.k-checkbox:checked + .k-checkbox-label:before {
  content: '\f14a';
  color: #00a7e1;
  border: none;
  background-color: transparent;
}
.k-autocomplete.k-state-border-down {
  padding-bottom: 0;
}
.k-button,
.k-button:focus,
.k-split-button,
.k-split-button:focus {
  background-color: transparent;
}
.k-button {
  font-weight: 400;
  line-height: 1.618em;
  padding: 0.4045em 1em;
  transition: 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  transition-property: background-color, border-color, color, box-shadow;
  letter-spacing: .025em;
  color: #262b33;
  border: 1px solid #ccd1d9;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(38, 43, 51, 0.12), 0 0 9px rgba(38, 43, 51, 0.072);
}
.k-button.primary {
  font-weight: 300;
  color: #fff !important;
  border-color: #00bafb !important;
  background-color: #00bafb !important;
}
.k-button.primary.k-state-disabled {
  color: #fff !important;
  background-color: #00bafb !important;
}
.k-button.primary:hover,
.k-button.primary:focus {
  border-color: #1fc5ff !important;
  background-color: #1fc5ff !important;
}
.k-button.primary:active {
  border-color: #009fd7 !important;
  background-color: #009fd7 !important;
}
.k-button.secondary {
  font-weight: 300;
  color: #fff !important;
  border-color: #1b77d4 !important;
  background-color: #1b77d4 !important;
}
.k-button.secondary.k-state-disabled {
  color: #fff !important;
  background-color: #1b77d4 !important;
}
.k-button.secondary:hover,
.k-button.secondary:focus {
  border-color: #2e89e4 !important;
  background-color: #2e89e4 !important;
}
.k-button.secondary:active {
  border-color: #1766b4 !important;
  background-color: #1766b4 !important;
}
.k-button.success {
  font-weight: 300;
  color: #fff !important;
  border-color: #4caf50 !important;
  background-color: #4caf50 !important;
}
.k-button.success.k-state-disabled {
  color: #fff !important;
  background-color: #4caf50 !important;
}
.k-button.success:hover,
.k-button.success:focus {
  border-color: #63bb67 !important;
  background-color: #63bb67 !important;
}
.k-button.success:active {
  border-color: #419645 !important;
  background-color: #419645 !important;
}
.k-button.error {
  font-weight: 300;
  color: #fff !important;
  border-color: #d32f2f !important;
  background-color: #d32f2f !important;
}
.k-button.error.k-state-disabled {
  color: #fff !important;
  background-color: #d32f2f !important;
}
.k-button.error:hover,
.k-button.error:focus {
  border-color: #d94c4c !important;
  background-color: #d94c4c !important;
}
.k-button.error:active {
  border-color: #b72727 !important;
  background-color: #b72727 !important;
}
.k-button.k-state-active:hover,
.k-button.k-state-hover,
.k-button:active:hover,
.k-button:hover,
.k-button.k-state-focused,
.k-button:focus,
.k-button:focus:not(.k-state-disabled):not([disabled]) {
  border-color: #ccd1d9;
  box-shadow: 0 2px 6px rgba(38, 43, 51, 0.15), 0 0 18px rgba(38, 43, 51, 0.09);
}
.k-button-icon,
.k-button-icontext,
.k-button.k-split-button-arrow {
  border: none;
}
.k-button .k-icon {
  transition: opacity 0.15s cubic-bezier(0.6, 0, 0.4, 1);
}
.k-toolbar {
  height: 3.236rem;
  border: none;
  background: #fff;
}
.k-toolbar .k-datepicker {
  margin-top: .25em;
}
.k-toolbar .k-datepicker .k-picker-wrap {
  line-height: 2.427em;
}
.k-toolbar .k-autocomplete {
  margin-top: 0.4045em;
}
.k-toolbar .k-autocomplete .k-input {
  border: 1px solid #dadee4;
}
.k-toolbar > * {
  float: left;
}
.k-toolbar > .k-overflow-anchor {
  float: right;
}
.k-toolbar .k-button {
  display: inline-flex;
  align-items: center;
  border-radius: 0;
}
.k-toolbar .k-button-group {
  display: inline-flex;
}
.k-toolbar .k-separator {
  height: 2.427em;
  margin: 0.809rem 0.2em;
}
.k-toolbar,
.k-toolbar .k-button-group,
.k-toolbar .k-split-button,
.k-toolbar .k-button {
  line-height: 3.236rem;
  height: 3.236rem;
}
.k-toolbar .k-button-group .k-split-button,
.k-toolbar .k-split-button,
.k-toolbar .k-button-group .k-button,
.k-toolbar .k-button {
  margin: 0;
}
.k-toolbar .k-button-group .k-split-button .k-sprite,
.k-toolbar .k-split-button .k-sprite,
.k-toolbar .k-button-group .k-button .k-sprite,
.k-toolbar .k-button .k-sprite {
  margin: 0;
}
.k-toolbar .k-button-icontext .fa {
  margin-right: 0.20225em !important;
}
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-button,
.k-toolbar .k-button {
  padding: 0 1em;
}
@media (min-width: 992px) {
  .k-toolbar .k-split-button .k-button,
  .k-toolbar .k-button-group .k-button,
  .k-toolbar .k-button {
    padding: 0 1.2em;
  }
}
.k-toolbar .k-split-button,
.k-toolbar .k-button-group {
  margin: 0;
}
.k-toolbar .k-button-group:last-child {
  margin-right: 0;
}
.k-toolbar .k-split-button > .k-split-button-arrow {
  padding: 0 .2em;
}
.k-toolbar .k-overflow-anchor[style*='visibility: hidden'] {
  display: none !important;
}
.k-toolbar .k-overflow-anchor:hover,
.k-toolbar .k-overflow-anchor.k-state-border-down {
  background-color: #ebebeb;
}
.k-toolbar .k-button-icon .btntoolbar {
  font-size: 1.25em;
  font-weight: 400;
  color: #404040;
}
.k-toolbar .k-button-icon .btntoolbar.fa,
.k-toolbar .k-button-icon .btntoolbar.mdi,
.k-toolbar .k-button-icon .btntoolbar.halfling,
.k-toolbar .k-button-icon .btntoolbar.glyphicon {
  overflow: visible;
}
.k-toolbar .k-button-icon .fa-image {
  width: 1.2em;
}
.k-toolbar .k-button-icon .fa-keyboard-o {
  font-size: 1.618em;
  width: 1.2em;
  color: #404040;
}
.k-editor-toolbar .k-tool.k-state-hover,
.k-toolbar .k-button-group .k-button:hover {
  background-color: rgba(38, 43, 51, 0.07);
  box-shadow: none;
}
.k-editor-toolbar .k-tool.k-state-selected,
.k-toolbar .k-button-group .k-button.k-state-active,
.k-editor-toolbar .k-tool:active,
.k-toolbar .k-button-group .k-button:active {
  background-color: rgba(38, 43, 51, 0.03);
}
.k-list > .k-state-selected {
  border-color: #00bafb;
  background-color: #00bafb;
}
.k-list > .k-state-selected,
.k-list > .k-state-selected.k-state-focused {
  color: #fff;
}
.k-list > .k-state-selected:hover {
  border-color: #0094c7;
  background-color: #0094c7;
}
.k-icon.glyphicon,
.k-icon.halfling,
.k-icon.fa,
.k-icon.mdi {
  background-image: none;
}
.k-i-seek-w,
.k-i-seek-e,
.k-i-refresh,
.k-i-arrow-w,
.k-i-arrow-e {
  background-image: none !important;
}
.k-i-seek-w:before,
.k-i-seek-e:before,
.k-i-refresh:before,
.k-i-arrow-w:before,
.k-i-arrow-e:before {
  font-family: FontAwesome;
  font-size: 1rem;
  line-height: 1.333;
  width: 1em;
  height: 1em;
}
.k-i-arrow-w:before {
  content: '\f053';
}
.k-i-arrow-e:before {
  content: '\f054';
}
.k-i-refresh:before {
  content: '\f021';
}
.k-i-seek-w:before {
  content: '\f048';
}
.k-i-seek-e:before {
  content: '\f051';
}
.k-grid {
  font-family: Roboto, Helvetica, sans-serif !important;
  height: 100%;
  border: none;
}
.k-grid-header th.k-header > .k-link {
  transition: color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  color: rgba(38, 43, 51, 0.6);
}
.k-grid-header th.k-header:focus {
  outline: none;
}
.k-grid-header th.k-header:active,
.k-grid-header th.k-header:focus,
.k-grid-header th.k-header.k-state-focused {
  background-color: rgba(38, 43, 51, 0.07);
  box-shadow: none;
}
.k-grid-header th.k-header:active > .k-link,
.k-grid-header th.k-header:focus > .k-link,
.k-grid-header th.k-header.k-state-focused > .k-link {
  color: #262b33;
}
.k-grid .k-grouping-header {
  font-weight: 300;
  padding: 0.4045rem 1.618rem;
  color: #fff;
  background-color: #1b77d4;
}
.k-grid .k-grouping-header .k-group-indicator {
  line-height: 2.427rem;
  height: 2.427rem;
  margin: 0 .5em 0 0;
  padding: 0 .5em 0 .75em;
  border: none;
  background-color: #fff;
}
.k-grid .k-grouping-header .k-group-indicator .k-link {
  color: #262b33;
}
.k-grid .k-grouping-header .k-group-indicator .k-button {
  color: #262b33;
}
.k-grid .k-header.k-grid-toolbar {
  border-color: #262b33;
}
.k-grid .k-header .k-button {
  font-weight: 500;
  color: #262b33;
  border: 1px solid #dadee4;
  background-color: transparent;
}
.k-grid .k-header .k-button:hover,
.k-grid .k-header .k-button:focus {
  border-color: #bdc4ce;
  background-color: #f8f8f9;
}
.k-grid .k-header .k-button:active {
  border-color: #dadee4;
  background-color: transparent;
}
.k-grid .k-header .k-button > .k-i-excel {
  background-position: -64px -96px;
}
.k-grid .k-footer-template {
  text-align: right;
}
.k-grid .k-grouping-row.k-state-selected > td {
  font-weight: 400;
  line-height: 2.427rem;
  padding: 0 1em;
  letter-spacing: .025em;
  color: #fff;
  border: none;
  background-color: #3c91e6 !important;
}
.k-grid .k-grouping-row.k-state-selected > td .k-icon {
  color: #fff;
}
.k-grid-content tr > td {
  border-color: transparent #d2d6dd;
  border-right-width: 1px;
}
.k-grid-content tr > td.cell-string,
.k-grid-content tr > td.cell-url,
.k-grid-content tr > td.cell-color,
.k-grid-content tr > td.cell-icon,
.k-grid-content tr > td.cell-phone,
.k-grid-content tr > td.cell-extraid,
.k-grid-content tr > td.cell-address,
.k-grid-content tr > td.cell-enum,
.k-grid-content tr > td.cell-link_base_object,
.k-grid-content tr > td.cell-location,
.k-grid-content tr > td.cell-base_object {
  text-align: left;
}
.k-grid-content tr > td.cell-period,
.k-grid-content tr > td.cell-date,
.k-grid-content tr > td.cell-file_data,
.k-grid-content tr > td.cell-image,
.k-grid-content tr > td.cell-bool {
  text-align: center;
}
.k-grid-content tr > td.cell-bool .k-icon {
  font-family: 'FontAwesome';
  transition: opacity 0.3s cubic-bezier(0.6, 0, 0.4, 1);
  background-image: none;
}
.k-grid-content tr > td.cell-bool .icon-no:before {
  content: '\f00d';
  color: #d32f2f;
}
.k-grid-content tr > td.cell-bool .icon-yes:before {
  content: '\f00c';
  color: #4caf50;
}
.k-grid-content tr > td.cell-percent,
.k-grid-content tr > td.cell-int,
.k-grid-content tr > td.cell-decimal,
.k-grid-content tr > td.cell-double {
  text-align: right;
}
.k-grid-content tr > td.cell-image img {
  margin: auto;
}
.k-grid-content tr > td.cell-extraid i {
  margin-right: .61em;
}
.k-grid-content tr:hover {
  background-color: transparent;
}
.k-grid-content tr:hover > td {
  background-color: rgba(38, 43, 51, 0.06);
}
.k-grid-content tr:nth-child(2n+1) > td {
  background-color: rgba(38, 43, 51, 0.03);
}
.k-grid-content tr:nth-child(2n+1):hover > td {
  background-color: rgba(38, 43, 51, 0.07);
}
.k-grid-header th.k-header,
.k-grid tr > td {
  line-height: 1.618;
  padding: 0.61804697em;
}
.k-grid tr,
.k-grid td {
  transition: 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  transition-property: background-color, border-color;
  border-color: transparent;
}
.k-grid td {
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  border-width: 1px 0;
}
.k-grid td.k-state-focused {
  background-color: rgba(179, 239, 178, 0.5) !important;
  box-shadow: none;
}
.k-grid tr.k-state-selected:hover td {
  background-color: #cdf2ff;
}
.k-grid img {
  display: block;
  margin: 0 0.61804697em;
}
.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
  border-top: 1px solid transparent;
}
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td,
.k-grid tr.k-state-selected:first-child > td,
.k-grid tr.k-state-selected:hover > td {
  border-width: 1px 1px 1px 0;
  border-color: #62d6ff;
  border-right-color: #c7f1ff;
  background-color: #e1f7ff;
}
.k-grid tr.k-state-selected .k-state-focused {
  background-color: #aeeaff !important;
}
.k-grid-content tr:last-child > td {
  border-bottom-width: 1px;
}
.k-grid .notdraft > td {
  background-color: rgba(179, 239, 178, 0.7);
}
.k-grid .notdraft:hover > td {
  background-color: #b3efb2;
}
.k-grid .notdraft.k-state-selected > td,
.k-grid .notdraft.k-state-selected:first-child > td,
.k-grid .notdraft.k-state-selected:hover > td {
  border-color: #4bd948;
  background-color: #9eeb9d;
}
 > .k-multiselect-wrap > .k-i-close {
  top: .5rem;
}
.k-multiselect-wrap {
  padding: .177em 0;
}
.k-multiselect-wrap li {
  line-height: 1.618rem;
  margin: 0.20225rem 0 0.20225rem 0.809rem;
  padding: 0.125rem 1.618rem 0.125rem 0;
  border-radius: 1.618rem;
}
.k-multiselect-wrap li span {
  margin: 0;
}
.k-multiselect-wrap li > span,
.k-multiselect-wrap li span.data-item {
  display: flex;
  align-items: center;
}
.k-multiselect-wrap li .data-item {
  margin-right: 0;
}
.k-multiselect-wrap li .data-item__text {
  font-size: .9rem;
  font-weight: 400;
  margin-right: 0;
  margin-left: 0.38198206rem;
  letter-spacing: .025em;
}
.k-multiselect-wrap .k-input {
  line-height: 1.618rem;
  height: 2.427rem;
  margin: 0;
  padding: 0;
}
.k-numerictextbox .k-numeric-wrap .k-input {
  box-sizing: border-box;
  height: 2.617924em;
}
.k-scheduler.k-widget {
  border: none;
}
.k-scheduler-agendaview .k-scheduler-datecolumn,
.k-scheduler-header {
  color: #262b33;
}
.k-scheduler th {
  font-weight: 600;
  color: #262b33 !important;
}
.k-scheduler-header th {
  font-weight: 500;
}
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover {
  border-color: transparent;
  background-color: #ee5031 !important;
}
.k-scheduler .k-scheduler-toolbar .k-state-default {
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
}
.k-scheduler .k-scheduler-toolbar ul li:first-child,
.k-scheduler .k-scheduler-toolbar ul li:first-child .k-link,
.k-scheduler .k-scheduler-toolbar ul.k-scheduler-views li:first-child + li,
.k-scheduler .k-scheduler-toolbar ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0;
}
.k-scheduler .k-scheduler-toolbar .k-link {
  letter-spacing: .035em;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-selected.k-state-hover,
.k-scheduler-toolbar > .k-scheduler-views > li.k-state-selected,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-selected.k-state-hover .k-link,
.k-scheduler-toolbar > .k-scheduler-views > li.k-state-selected .k-link {
  border-bottom-color: #ec3c1a;
  background-color: #ec3c1a;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link {
  border-color: transparent;
  background-color: #ee5031 !important;
}
.k-scheduler-toolbar > ul.k-scheduler-views > li:first-child + li,
.k-scheduler-toolbar > ul > li:first-child {
  border-left: none;
}
.k-scheduler .k-header {
  padding: 0;
  background-color: #f06449;
}
.k-scheduler .k-header .k-button,
.k-scheduler .k-header .k-link,
.k-scheduler .k-header li {
  color: #fff;
  border-color: #f06449;
  background-color: #f06449;
}
.k-scheduler .k-header .k-button:hover {
  background-color: #ec3c1a;
}
.k-scheduler .k-more-events {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.618;
  margin-top: 0.4045em;
  text-transform: none;
  background-color: rgba(38, 43, 51, 0.17);
  box-shadow: none;
}
.k-scheduler .k-more-events:hover,
.k-scheduler .k-more-events:focus {
  color: #262b33;
  background-color: rgba(38, 43, 51, 0.25);
}
.k-scheduler .k-event {
  border: none;
}
.k-scheduler .k-event-title {
  height: 100%;
  padding: .285em 1.3em .285em .618em;
  letter-spacing: .025em;
  color: #fff;
  background-color: #f06449;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.k-scheduler .k-event-actions {
  margin: 0;
}
.k-scheduler .k-event.k-state-selected .k-event-title {
  color: #fff;
}
.k-scheduler .k-event:hover .k-resize-handle {
  visibility: hidden;
}
.k-scheduler .k-scheduler-monthview .k-hidden,
.k-scheduler .k-scheduler-monthview .k-scheduler-table td {
  height: 7.35em;
}
.k-scheduler .k-today.k-state-selected,
.k-scheduler-layout .k-state-selected {
  background-color: #ddf8dc;
}
.k-scheduler .k-today.k-state-selected > .k-link,
.k-scheduler-layout .k-state-selected > .k-link {
  font-weight: 700;
  color: #262b33;
}
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-scheduler .k-state-selected,
.k-scheduler .k-state-selected:link,
.k-scheduler .k-state-selected:visited {
  color: #262b33;
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #e8f1f2;
}
.k-scheduler .k-event,
.k-scheduler .k-task-complete {
  border-color: transparent;
  background-color: transparent;
}
.k-scheduler-layout .k-i-arrow-w,
.k-scheduler-layout .k-state-hover .k-link .k-i-arrow-w {
  background-position: 0 -48px;
}
.k-scheduler-layout .k-i-arrow-e,
.k-scheduler-layout .k-state-hover .k-link .k-i-arrow-e {
  background-position: 0 -16px;
}
.k-scheduler .k-scheduler-refresh {
  line-height: 3.427rem;
  position: absolute;
  right: 0;
  float: none;
  height: 3.427rem;
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
}
.k-scheduler .k-scheduler-refresh:hover,
.k-scheduler .k-scheduler-refresh:focus {
  background-color: #ee5031;
}
.k-scheduler .k-scheduler-refresh .k-i-refresh {
  width: 1.618rem;
  height: 1.618rem;
}
.k-scheduler .k-scheduler-refresh .k-i-refresh:before {
  font-size: 1.25rem;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation {
  width: 90%;
  margin: 0;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > li {
  float: left;
  white-space: nowrap;
  border: none;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > li .k-link {
  line-height: 3.427rem;
  height: 3.427rem;
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > li .k-link:hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > li .k-link:focus {
  background-color: #ee5031;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > .k-nav-today {
  width: 7.281em;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > .k-nav-prev,
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > .k-nav-next {
  width: 2.427em;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > .k-nav-current {
  width: calc(100% -  12.5395em);
  margin: 0;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-navigation > .k-nav-current > a {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.k-slider .k-slider-selection {
  border-color: #00bafb;
  background-color: #00bafb;
}
.k-slider .k-draghandle {
  transition: box-shadow 0.2s;
  box-shadow: none;
}
.k-slider .k-draghandle,
.k-slider .k-draghandle:hover,
.k-slider .k-draghandle.k-state-focused,
.k-slider .k-draghandle.k-state-focused:link {
  border-color: #00bafb;
  background-color: #00bafb;
}
.k-slider .k-draghandle:hover {
  box-shadow: 0 0 0 8px rgba(0, 186, 251, 0.15);
}
.k-tabstrip:focus {
  box-shadow: none;
}
.k-tabstrip-items {
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.k-tabstrip-items .k-item {
  transition: border-color 0.1s linear;
  background-color: transparent;
}
.k-tabstrip-items .k-item.k-state-hover {
  border-color: #f2f2f2;
  background-color: #f2f2f2;
}
.k-tabstrip-items .k-item.k-state-active {
  border-color: #00bafb;
}
.k-tabstrip-items .k-item .k-loading {
  border-top: none;
}
.k-tabstrip-items .k-item .k-link {
  line-height: 1.618em;
  padding: 0.809em 1em;
  letter-spacing: .025em;
  color: rgba(38, 43, 51, 0.85);
}
.k-treeview {
  height: 100%;
}
.k-treeview .k-in {
  border: 1px solid transparent;
}
.k-treeview .k-state-selected {
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  color: #262b33;
  border-color: #7bddff;
  background-color: #aeeaff;
}
.k-treeview .k-state-selected .glyphicon,
.k-treeview .k-state-selected .halfling,
.k-treeview .k-state-selected .fa,
.k-treeview .k-state-selected .mdi {
  color: #262b33 !important;
}
.k-treeview .k-state-selected.k-state-focused {
  background-color: rgba(174, 234, 255, 0.85);
}
.k-treeview .k-state-selected .fa-folder::before {
  content: '\f07c';
}
.k-treeview .k-state-hover {
  background-color: rgba(38, 43, 51, 0.1);
}
.k-treeview .k-state-focused {
  background-color: rgba(38, 43, 51, 0.15);
}
.k-upload .k-file-success .k-progress {
  color: #fff;
  background-color: #4caf50;
}
.k-upload .k-upload-button {
  border: 1px solid #dedede;
}
.k-upload .k-upload-button span {
  font-weight: 400;
  letter-spacing: .025em;
  color: #616161;
}
.k-upload-status {
  top: .643rem;
}
.k-upload-status-total .k-icon {
  margin-right: 0;
  margin-left: .643rem;
}
.k-window {
  box-shadow: 0 3px 9px rgba(38, 43, 51, 0.15), 0 0 18px rgba(38, 43, 51, 0.15);
}
.k-window .k-window-titlebar {
  font-size: 1.3em;
  font-weight: 500;
  height: 1.2em;
  padding: .85em 0;
}
.k-window .k-window-titlebar .k-state-hover {
  border-color: transparent;
  background-color: transparent;
}
.k-window .k-window-titlebar .k-button {
  display: inline-block;
  transition: opacity .1s linear;
  color: rgba(38, 43, 51, 0.85);
}
.k-window .k-window-titlebar .k-button,
.k-window .k-window-titlebar .k-button .k-icon {
  font-size: 1.618rem;
  position: relative;
  width: 1.618em;
  height: 1.618em;
  padding: 0;
  background-image: none;
}
.k-window .k-window-titlebar .k-button .k-i-maximize,
.k-window .k-window-titlebar .k-button .k-i-restore,
.k-window .k-window-titlebar .k-button .k-i-close {
  font: normal normal normal 1.7143rem/1 'Material Design Icons';
  font-size: inherit;
  display: inline-block;
  transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}
.k-window .k-window-titlebar .k-button .k-i-maximize:before,
.k-window .k-window-titlebar .k-button .k-i-restore:before,
.k-window .k-window-titlebar .k-button .k-i-close:before {
  font-size: 1.85rem;
}
.k-window .k-window-titlebar .k-button .k-i-maximize:before {
  content: '\F293';
}
.k-window .k-window-titlebar .k-button .k-i-restore:before {
  content: '\F294';
}
.k-window .k-window-titlebar .k-button .k-i-close:before {
  content: '\F156';
}
.k-window .k-window-titlebar > .k-window-actions,
.k-window .k-window-titlebar:active > .k-window-actions {
  right: 0;
  padding: .5em .5em 0 0;
  cursor: default;
}
.k-window .k-window-title {
  right: 5em;
}
.k-window[data-role='draggable'] > .k-window-titlebar,
.k-window[data-role='draggable'] > .k-window-titlebar > .k-window-title {
  cursor: move;
  cursor: -webkit-grab;
}
.k-window[data-role='draggable'] > .k-window-titlebar:active,
.k-window[data-role='draggable'] > .k-window-titlebar:active > .k-window-title {
  cursor: -webkit-grabbing;
}
div.k-window-content {
  top: .0714rem;
  height: calc(100% -  0.0714rem);
}
.k-calendar .k-header .k-link {
  transition: 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  transition-property: color, background-color;
  color: #0081ae !important;
  border-radius: 3px;
}
.k-calendar .k-header .k-link:hover {
  color: #262b33 !important;
}
.k-calendar .k-header .k-link.k-state-hover {
  background-color: #e8f1f2;
}
.k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next {
  background-color: transparent;
}
.k-calendar .k-footer .k-nav-today {
  color: #0081ae;
}
.k-calendar td {
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
}
.k-calendar td.k-state-selected {
  background-color: #aeeaff;
}
.k-calendar td.k-state-selected.k-state-hover {
  background-color: #7bddff;
}
.k-calendar td.k-state-selected > .k-link {
  color: #262b33;
}
.k-calendar td.k-state-focused,
.k-calendar td.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 1px rgba(38, 43, 51, 0.4);
}
.k-calendar td.k-today {
  background-color: #b3efb2;
}
.k-calendar td.k-today.k-state-hover {
  background-color: #89e688;
}
.k-calendar td.k-today:active {
  box-shadow: inset 0 0 0 1px #2cc529;
}
.k-calendar td.k-today .k-link {
  color: #262b33;
}
.k-gantt.k-widget {
  border: none;
}
.k-gantt-header {
  color: #262b33;
}
.k-gantt th {
  font-weight: 600;
  color: #262b33 !important;
}
.k-gantt td {
  vertical-align: middle;
}
.k-gantt-header th {
  font-weight: 500;
}
.k-gantt .k-gantt-toolbar .k-state-selected,
.k-gantt .k-gantt-toolbar ul li.k-state-hover {
  border-color: transparent;
  background-color: #ee5031 !important;
}
.k-gantt .k-gantt-toolbar .k-state-default {
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
}
.k-gantt .k-gantt-toolbar ul li:first-child,
.k-gantt .k-gantt-toolbar ul li:first-child .k-link,
.k-gantt .k-gantt-toolbar ul.k-scheduler-views li:first-child + li,
.k-gantt .k-gantt-toolbar ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0;
}
.k-gantt .k-gantt-toolbar .k-link {
  letter-spacing: .035em;
}
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-selected.k-state-hover,
.k-gantt-toolbar > .k-gantt-views > li.k-state-selected,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-selected.k-state-hover .k-link,
.k-gantt-toolbar > .k-gantt-views > li.k-state-selected .k-link {
  border-bottom-color: #da3212;
  background-color: #da3212;
}
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link {
  border-color: transparent;
  background-color: #ee5031 !important;
}
.k-gantt-toolbar > ul.k-gantt-views > li:first-child + li,
.k-gantt-toolbar > ul > li:first-child {
  border-left: none;
}
.k-gantt > .k-header {
  background-color: #f06449;
}
.k-gantt > .k-header .k-button,
.k-gantt > .k-header .k-link,
.k-gantt > .k-header li {
  color: #fff;
  border-color: #f06449;
  background-color: #f06449;
}
.k-gantt > .k-header .k-button:hover {
  background-color: #ee5031;
}
.km-checkbox {
  line-height: 1.618em;
  height: 1.618em;
}
.k-window .km-switch {
  margin: .6em 1em;
}
.km-switch {
  line-height: 2em;
  width: 4.854em;
  height: 2em;
  margin: 1em;
  cursor: pointer;
  border: none;
}
.km-switch-on .km-switch-container,
.km-switch-on .km-switch-wrapper {
  background-color: #b3efb2;
}
.km-switch-off .km-switch-container,
.km-switch-off .km-switch-wrapper {
  background-color: #ffcdd2;
}
.km-switch-container,
.km-switch-wrapper {
  transition: background-color 0.15s cubic-bezier(0.6, 0, 0.4, 1);
  border-radius: 2.617924em;
  box-shadow: 0 0.075em 0.075em rgba(38, 43, 51, 0.25) inset, 0 0 0.375em rgba(38, 43, 51, 0.09) inset;
}
.km-switch-handle {
  position: relative;
  top: .1em;
  width: 1.618em;
  height: 1.618em;
  vertical-align: middle;
  color: rgba(38, 43, 51, 0.41);
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.075em 0.075em rgba(38, 43, 51, 0.25), 0 0 0.225em rgba(38, 43, 51, 0.15);
}
.km-switch-handle .k-icon {
  display: inline-block;
  width: 1.143rem;
  height: 1.143rem;
  vertical-align: initial;
  opacity: .8;
  background-size: contain;
}
.km-switch-on .km-switch-handle {
  left: -0.15rem;
}
.km-switch-on .km-switch-handle .k-icon {
  background-image: url(/Content/icons/icon-hierarchy.png);
}
.km-switch-off .km-switch-handle {
  left: .286rem;
}
.km-switch-off .km-switch-handle .k-icon {
  background-image: url(/Content/icons/icon-no-hierarchy.png);
}
.km-switch-label-on {
  left: -142%;
}
.km-switch-label-off {
  left: 123%;
}
.km-switch-label-on,
.km-switch-label-off {
  line-height: 2.617924em;
  top: -0.214rem;
  background-color: transparent;
}