@model EditorViewModel

@{  
    string fieldID = "f_" + Guid.NewGuid().ToString("N");
}


<span id="@fieldID" class='k-icon'></span>


<script>
    $(function () {
        var $f = $("#@fieldID");

        $f.closest("form").on("onAfterBind", function (e, form) {
            if (form.getPr("@Model.PropertyName")===true) {
                $f.attr("class", "k-icon icon-yes");
            }
            if (form.getPr("@Model.PropertyName") === false) {
                $f.attr("class", "k-icon icon-no");
            }
            if (form.getPr("@Model.PropertyName") === null) {
                $f.attr("class", "k-icon");
                //если bool==null
            }
        });
    });
</script>